@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Pass;
    src: url('/assets/fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Lobster;
    src: url('/assets/fonts/Lobster-Regular.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.015em;
}

form {
    margin: 0;
}

textarea, select, input, button, button:focus, button:focus-visible {
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield !important;
}

/* Scroll Bar Style */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #2793DA;
    border: 0px none #2793DA;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2D9DFF;
}

::-webkit-scrollbar-thumb:active {
    background: #2D74FF;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}